{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container pt-lg-7">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card bg-secondary shadow border-0" style="margin-top: -90px;">
                    <div class="card-header bg-light pb-3">
                        <div class="text-dark text-center mb-3"><b>Sign in</b></div>
                        <div class="btn-wrapper text-center">
                            <div class="rounded mx-auto d-block">
                                <img src="{% static 'images/brand/bot.gif' %}" style="width: 100px;">
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-primary px-lg-5 py-lg-5">
                        <form role="form" method="POST">
                            {% csrf_token %}
                            <div class="text-danger">
                                {% if messages %}
                                {% for msg in messages %}
                                {{ msg }}
                                {% endfor %}
                                {% endif %}
                                {{ error }}
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username"  name="username" id="username" required>
                                </div>
                            </div>
                            <div class="form-group focused">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-white my-4">Sign in</button>
                            </div>
                        </form>
                                <a href="{% url 'account:register' %}" class="text-white"><small>Create account</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}