{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="index-page">
    <div class="wrapper">
        <div class="section section-hero section-shaped">
            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>
            <div class="page-header">
                <div class="container shape-container d-flex align-items-center py-lg">
                    <div class="col px-0">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6 text-center">
                                <img src="{% static 'images/brand/bot.gif' %}" style="height: 200px;" class="img-fluid">
                                <p class="lead text-white">Login to start chatting with an AI powered Chatbot.</p>
                                <div class="btn-wrapper mt-5">
                                    <a href="{% url 'account:login' %}" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                                        <span class="btn-inner--icon"><i class="fas fa-sign-in-alt mr-2"></i></span>
                                        <span class="btn-inner--text mr-2">Login</span>
                                    </a>
                                    <a href="https://iic.edu.np/" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                                        <span class="btn-inner--icon"><i class="fas fa-globe"></i></span>
                                        <span class="btn-inner--text"><span class="text-warning">Website</span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
