{% load static %}
{% block navbar %}
<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">
        <a class="navbar-brand mr-lg-5"  href="{% url 'account:home' %}">
            {% if gif %}
                <img src="{% static 'images/brand/bot.gif' %}" style="height: 100px;">
            {% else %}
                <img src="{% static 'images/brand/logo.png' %}" style="height: 80px;">
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://www.facebook.com/" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
                    <i class="fa fa-facebook-square"></i>
                    <span class="nav-link-inner--text d-lg-none">Facebook</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://www.instagram.com/" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
                    <i class="fa fa-instagram"></i>
                    <span class="nav-link-inner--text d-lg-none">Instagram</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://twitter.com/" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                    <i class="fa fa-twitter-square"></i>
                    <span class="nav-link-inner--text d-lg-none">Twitter</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://github.com/" target="_blank" data-toggle="tooltip" title="Star us on Github">
                    <i class="fa fa-github"></i>
                    <span class="nav-link-inner--text d-lg-none">Github</span>
                </a>
            </li>
            <li class="nav-item d-none d-lg-block ml-lg-4">
                {% if register %}
                <a href="{% url 'account:login' %}" class="btn btn-neutral btn-icon text-dark">
                    <span class="btn-inner--icon"><i class="fas fa-sign-in-alt mr-2"></i></span>
                    <span class="nav-link-inner--text">Login</span>
                </a>
                {% elif error %}
                 <a href="{% url 'account:register' %}" class="btn btn-neutral btn-icon text-dark">
                     <span class="btn-inner--icon"><i class="fas fa-sign-in-alt mr-2"></i></span>
                     <span class="nav-link-inner--text">Register</span>
                 </a>
                {% elif login %}
                <a href="{% url 'account:register' %}" class="btn btn-neutral btn-icon text-dark">
                    <span class="btn-inner--icon"><i class="fas fa-sign-out-alt mr-2"></i></span>
                    <span class="nav-link-inner--text">Register</span>
                </a>
                {% elif home %}
                <a href="{% url 'account:register' %}" class="btn btn-neutral btn-icon text-dark">
                    <span class="btn-inner--icon"><i class="fas fa-sign-out-alt mr-2"></i></span>
                    <span class="nav-link-inner--text">Register</span>
                </a>
                {% else %}
                <a href="{% url 'account:logout' %}" class="btn btn-neutral btn-icon text-dark">
                    <span class="btn-inner--icon"><i class="fas fa-sign-out-alt mr-2"></i></span>
                    <span class="nav-link-inner--text">Logout</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<!-- End Navbar -->
{% endblock %}